<!DOCTYPE html>
<html lang="en">
<%- include("head.ejs") %>
<body class="home">
    <H2>Total Number of the Users is: <%= count %></H2>
    <button type="submit"><a href="http://localhost:8080/user/new">Join Us Today</a></button>
    <button type="submit"><a href="http://localhost:8080/user">SEE FULL LIST</a></button>
</body>
</html>
