<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-size:1.4rem;
        }
    </style>
</head>
<body>
    <h1 style="color: rgb(110, 14, 14);">Edit Here:</h1>
    <hr>
    <p>Post id: <%= post.id %></p>
    <p>Username: <%= post.username %></p>
    <form action="/posts/<%=post.id%>?_method=PATCH" method="POST">
        <textarea name="content" id="content" cols="20" rows="5" placeholder=""><%= post.content %></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>