<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h2>Create A New Post:</h2>
    <form action="http://localhost:4000/posts/" method="post">
      <input type="text" name="username" placeholder="Enter Username" required/>
      <br>
      <br>
      <textarea name="content" id="content" cols="20" rows="5" required></textarea>
      <br>
      <input type="submit" value="Add Post"/>
    </form>
  </body>
</html>
